.content {
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  min-height: 92vh;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 5rem; 
  padding: 2rem;
}
