.content2 {
    /* background-color: #964b4b; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: 88vh;
    max-height: fit-content;
}

.image {
    max-width: 40rem;
    width: fit-content;
    height: 30rem;
}

.details{
    padding: 1rem;
    width: 30rem;
    min-height: 29rem;
    background-color: #10a1ab;
}

.price2{
    margin-bottom: 1rem;
    font-size: xx-large;
    color: white;
}

.description2{
    color: white;
}